{
    "projects": {
        "rekcaiot": {
            "credentialSecret": "{{ nodered_cred_password }}",
            "rootPath": "ansible/roles/deploy-nodered/files/"
        }
    },
    "activeProject": "rekcaiot"
}